# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage
coverage.json

# next.js
/.next/
/out/

# production
/build
build-info

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
package-lock.json
**/*.bun

# hardhat
typechain
typechain-types
cache
artifacts
details.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
